# This notebook ....................................................................................

In [13]:
import pandas as pd
import numpy as np

In [14]:
# Read the dataset
data = pd.read_csv(r"C:\Users\Myrtle Mai Nguyen\OneDrive\Desktop\Breast Cancer\Breast_Cancer.csv")
data. head()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

In [15]:
# Drop colomns unnecessary to analysis
df = data.filter(['Age', 'Race','Marital Status','6th Stage', 'Survival Months', 'Status'])
df

      Age   Race Marital Status 6th Stage  Survival Months Status
0      68  White        Married       IIA               60  Alive
1      50  White        Married      IIIA               62  Alive
2      58  White       Divorced      IIIC               75  Alive
3      58  White        Married       IIA               84  Alive
4      47  White        Married       IIB               50  Alive
...   ...    ...            ...       ...              ...    ...
4019   62  Other        Married       IIA               49  Alive
4020   56  White       Divorced      IIIA               69  Alive
4021   68  White        Married       IIB               69  Alive
4022   58  Black       Divorced       IIB               72  Alive
4023   46  White        Married       IIB              100  Alive

[4024 rows x 6 columns]

In [16]:
# Check empty value in dataset
df = df.replace('', np.nan)             # remove empty values
nan_values = df[df.isna().any(axis=1)]  # to get all rows with Na

In [17]:
# Check the min and max age in the data
df['Age'].agg(['min', 'max'])

min    30
max    69
Name: Age, dtype: int64

In [18]:
# Group age range 
# 30-39, 40-49,50-59,60-69
df['Age'] = pd.cut(df['Age'], bins = [29, 39, 49, 59, float('Inf')], labels = ['30+', '40+','50+', '60+'])
df

      Age   Race Marital Status 6th Stage  Survival Months Status
0     60+  White        Married       IIA               60  Alive
1     50+  White        Married      IIIA               62  Alive
2     50+  White       Divorced      IIIC               75  Alive
3     50+  White        Married       IIA               84  Alive
4     40+  White        Married       IIB               50  Alive
...   ...    ...            ...       ...              ...    ...
4019  60+  Other        Married       IIA               49  Alive
4020  50+  White       Divorced      IIIA               69  Alive
4021  60+  White        Married       IIB               69  Alive
4022  50+  Black       Divorced       IIB               72  Alive
4023  40+  White        Married       IIB              100  Alive

[4024 rows x 6 columns]

In [19]:
df.to_csv(r'C:\Users\Myrtle Mai Nguyen\OneDrive\Desktop\Breast Cancer\Manipulated_data.csv', index=False)